{% extends "template_page.html" %}
{% load static %}

{% block title %}Event Details{% endblock title %}

{% block main %}
        <main class="container max-w-[1400px] mx-auto px-10 py-8 my-10">

          <div class="bg-slate-100 shadow-lg rounded-xl p-6 mb-10">
            <a href="{% url 'event_create' %}" class="bg-cyan-300 py-2 px-2 rounded-lg shadow-lg hover:bg-cyan-400">Create Events</a>
          </div>
          <!-- Filter section  -->
          <div class="bg-slate-100 shadow-lg rounded-xl p-6 mb-10">
            <div class="text-2xl font-bold text-gray-800 mb-4">Filter Events</div>
            <form method="get" class="grid grid-cols-1 lg:grid-cols-3 gap-4">
              <!-- category fuilter  -->
              <div class="flex items-center gap-2">
                <label class="font-medium" for="category">Category:</label>
                <select class="border-2 border-gray-300 rounded-lg p-2 flex-1" id="category" name="category">
                  <option value="">All Categories</option>
                  {% for c in categories %}
                  <option value="{{c.id}}">{{c.name}}</option>
                  {% endfor %}
                </select>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
                  Filter
                </button>
              </div>
    
        
              <!-- start  date  -->
              <div class="flex items-center gap-2">
                <label for="start_date" class="font-medium">Start:</label>
                <input class="border-2 border-gray-300 rounded-lg p-2 flex-1" type="date" id="start_date" name="start_date"/>
              </div>
    
              <!-- end date + filter buttons  -->
              <div class="flex items-center gap-2"> 
                <label for="end_date" class="font-medium">End:</label>
                <input class="border-2 border-gray-300 rounded-lg p-2 flex-1" type="date" id="end_date" name="end_date"/>
                <button class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600" >
                  Filter
                </button>
              </div>
              
            </form>
          </div>
    



          <!-- Event section  -->
          <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- event card    -->
            {% for e in events %}
            <div class="bg-white shadow-lg rounded-xl overflow-hidden">
              <div class="flex justify-center">
                <img class="h-48" src="{% static 'images/defaultImage.jpg' %}"/>
              </div>
              <div class="p-4">
                <div class="text-lg font-bold text-gray-900 mb-2">{{e.name}}</div>
                <p class="text-sm text-gray-500 mb-1">Category: {{ e.category.name}}</p>
                <p class="text-sm text-gray-500 mb-1">Location: {{e.location}}</p>
                <p class="text-sm text-gray-500 mb-3">Date:{{e.date|date:"d F Y"}}</p>
                <p class="text-sm text-gray-600 mb-3">Participants:{{e.participants.count}}</p>
                <a href="{% url 'event_details' e.id %}" class="text-cyan-500 hover:underline">View Details</a>
              </div>
            </div>
            {% empty %}
            <div class="col-span-full text-center py-8 text-gray-500">
              <p>No events found matching your criteria.</p>
            </div>
            {% endfor %}



          </div>
        </main>

{% endblock main %}