{% extends "template_page.html" %}
{% load static %}

{% block title %}
{% if is_edit %}Edit Event{% else %}Create Event{% endif %}
{% endblock title %}

{% block main %}
      <main class="container max-w-[1400px] mx-auto px-10 py-10">
        <div class="bg-slate-100 shadow-lg rounded-xl p-8 mt-5 max-w-3xl mx-auto">
          <div class="text-3xl font-bold text-gray-900 mb-6">
            {% if is_edit %}Edit Event{% else %}Create a New Event{% endif %}
          </div>
          <form method="post">
            {% csrf_token %}
            <!-- Event Name -->
            <div>
              <label class="block text-gray-700 font-semibold mb-1">Event Name</label>
              <input class="w-full px-4 py-2 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-cyan-400" type="text" name="name" 
              value="{% if is_edit %}{{ event.name }}{% endif %}"
              placeholder="Enter event name" required>
            </div>

            <!-- Event Description -->
            <div class="mb-6 mt-2">
              <label class="block text-gray-700 font-semibold mb-2">Description</label>
              <textarea class="w-full px-4 py-2 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-cyan-400" placeholder="Describe your event" name="description" rows="4" required>{% if is_edit %}{{ event.description }}{% endif %}
              </textarea>
            </div>
  
            <!-- Date & Time -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label class="block text-gray-700 font-semibold mb-1">Date</label>
                <input class="w-full px-4 py-2 border-2 border-gray-300 rounded-lg focus:outline-cyan-400" 
                value="{% if is_edit %}{{ event.date|date:'Y-m-d'}}{% endif %}" type="date" name="date" required>
              </div>
              <div>
                <label class="block text-gray-700 font-semibold mb-1">Time</label>
                <input class="w-full px-4 py-2 border-2 border-gray-300 rounded-lg focus:outline-cyan-400" type="time" name="time" required
                value="{% if is_edit %}{{event.time|time:'H:i'}}{% endif %}">
              </div>
            </div>
  
            <!-- Location -->
            <div class="mt-2">
              <label class="block text-gray-700 font-semibold mb-1">Location</label>
              <input class="w-full px-4 py-2 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-cyan-400" 
              value="{% if is_edit %}{{ event.location }}{% endif %}" type="text" name="location" placeholder="Enter event location" required>
            </div>
  
            <!-- Category -->
            <div class="mt-2 mb-4">
              <label class="block text-gray-700 font-semibold mb-2">Category</label>
              <select class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:border-cyan-400" name="category" required>
                <option value="">Select a category</option>
                {% for c in categories %}
                <option value="{{c.id}}"> {{ c.name}}</option>
                {% endfor %}
              </select>
            </div>
  
            <!-- Submit Button -->
            <div>
              <button type="submit" class="px-6 py-3 bg-cyan-400 text-white font-semibold rounded-lg hover:bg-cyan-500 transition-colors">
                {% if is_edit %}Update Event{% else %}Create Event{% endif %}
              </button>
            </div>
          </form>
        </div>
      </main>
{% endblock main %}

