{% extends "template_page.html" %}
{% load static %}

{% block title %}Event Details{% endblock title %}

      {% block main %}
      <main class="container max-w-[1400px] mx-auto px-10 py-10">
        <div class="bg-slate-200 shadow-lg rounded-xl overflow-hidden mt-8">
          <!-- Event image -->
          <div class="w-full h-64 md:h-96 overflow-hidde rounded-lg flex justify-center">
            <img class="h-full object-cover rounded-lg" src="{% static 'images/defaultImage.jpg' %}"/>
          </div>

          <!-- Event section  -->
          <div class="p-6 md:p-10">
            <!-- Event title -->
            <div class="text-3xl font-bold text-gray-900 mb-4"> {{ event.name }}</div>

            <!-- host info -->
            <div class="flex flex-wrap items-center gap-4 text-gray-600 mb-6">
              <span>Hosted by <strong>{{ event.host.name }}</strong></span>
              <span>{{ event.date|date:"d F Y" }} at {{ event.time|time:"H:i" }}</span>
              <span>{{ event.location }} </span>
              <span>{{ event.category.name }}</span>
            </div>

            <!-- Event Description -->
            <div class="mb-6">
              <span class="text-xl font-semibold mb-2">Event Details</span>
              <p class="text-gray-700 leading-relaxed">{{ event.description }}
              </p>
            </div>



            <div class="flex justify-between gap-6 mb-8">
              <div class="flex items-center gap-2">
                <span class="text-gray-500">Participants</span>
                <span class="text-lg font-semibold"> {{ event.participants.count }}</span>
              </div>

            {% if request.session.participant_id %}
              {% if is_host %}
                <div class="flex gap-2">
                  <a class="px-6 py-3 bg-yellow-400 text-white rounded-lg hover:bg-yellow-500" href="{% url 'event_edit' event.id %}">Edit</a>
                  <a class="px-6 py-3 bg-red-500 text-white rounded-lg hover:bg-red-600" href="{% url 'event_delete' event.id %}" onclick="return confirm('Delete this event?')">Delete</a>
                </div>
              {% else %}
                {% if user_joined %}
                  <a class="px-6 py-3 bg-red-400 text-white rounded-lg hover:bg-red-500" href="{% url 'leave_event' event.id %}">Leave Event</a>
                {% else %}
                  <a class="px-6 py-3 bg-cyan-400 text-white rounded-lg hover:bg-cyan-500" href="{% url 'join_event' event.id %}">Register</a>
                {% endif %}
              {% endif %}
            {% else %}
              <p class="text-gray-500 italic">Login to register for this event.</p>
            {% endif %}
      
            </div>
            <div class="bg-white p-4 rounded-lg shadow">
              <h2 class="text-lg font-bold mb-4">Participants</h2>
              {% if event.participants.all %}
                <ul class="space-y-2">
                  {% for p in event.participants.all %}
                    <li class="flex justify-between items-center border-b pb-2">
                      <span>{{ p.name }} ({{ p.email }})</span>
                        {% if is_host %}
                          <a href="{% url 'remove_participant' event.id p.id %}" class= "text-red-500 hover:underline text-sm" onclick="return confirm('Remove this participant?')">Remove</a>
                        {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <p class="text-gray-500">No participants yet.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </main>
      {% endblock main %}

