{% extends "template_page.html" %}
{% load static %}

{% block title %}Organizer Dashboard{% endblock title %}

{% block main %}
      <!-- Stats Grid  -->
    <main class="mt-10 max-w-[1400px] mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
        <!-- TOTAL EVENTS  -->
        <a href="{% url 'organizer_dashboard' %}?type=all" class="block">
          <div class="p-2 bg-white shadow-xl rounded-xl">
            <div class="text-gray-500 font-medium mb-2">TOTAL EVENTS </div>
            <div class="flex justify-between items-center">
              <span class="text-3xl font-semibold mb-1 pl-2">{{stats.total_events}}</span>
              <div class="h-10 w-10 rounded-full bg-blue-100 text-blue-600 flex justify-center items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
                  />
                </svg>
              </div>
            </div>
            <div class="text-gray-300 font-sm py-1">Total Participants: {{stats.total_participants}} </div>
          </div>
        </a>
        <!-- TOTAL EVENTS End   -->

        <!-- TOTAL EVENTS  -->
        <a href="{% url 'organizer_dashboard' %}?type=today" class="block">
          <div class="p-2 bg-white shadow-xl rounded-xl">
            <div class="text-gray-500 font-medium mb-2">TODAY'S EVENTS</div>
            <div class="flex justify-between items-center">
              <span class="text-3xl font-semibold mb-1 pl-2">{{today_events.count}}</span>
              <div class="h-10 w-10 rounded-full bg-green-100 text-green-600 flex justify-center items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </div>
            </div>
            <div class="text-gray-300 font-sm py-1">Total Participants: {{stats.today_participants}}</div>
          </div>
        </a>
        <!-- TOTAL EVENTS End   -->

        <!-- UPCOMING EVENTS  -->
        <a href="{% url 'organizer_dashboard' %}?type=upcoming" class="block">
          <div class="p-2 bg-white shadow-xl rounded-xl">
            <div class="text-gray-500 font-medium mb-2">UPCOMING EVENTS</div>
            <div class="flex justify-between items-center">
              <span class="text-3xl font-semibold mb-1 pl-2">{{stats.upcoming_events}}</span>
              <div class="h-10 w-10 rounded-full bg-yellow-100 text-yellow-600 flex justify-center items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </div>
            </div>
            <div class="text-gray-300 font-sm py-1">Total Participants: </div>
          </div>
        </a>
        <!-- UPCOMING EVENTS End   -->

        <!-- PREVIOUS EVENTS  -->
        <a href="{% url 'organizer_dashboard' %}?type=past" class="block">
          <div class="p-2 bg-white shadow-xl rounded-xl">
            <div class="text-gray-500 font-medium mb-2">PREVIOUS EVENTS</div>
            <div class="flex justify-between items-center">
              <span class="text-3xl font-semibold mb-1 pl-2">{{stats.past_events}}</span>
              <div class="h-10 w-10 rounded-full bg-purple-100 text-purple-600 flex justify-center items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
                  />
                </svg>
              </div>
            </div>
            <div class="text-gray-300 font-sm py-1">Total Participants: </div>
          </div>
        </a>
        <!-- PREVIOUS EVENTS End   -->
      </div>



      <!-- Task Table  -->
      <div class="bg-white shadow-sm rounded-xl">
        <div class="grid grid-cols-5 p-4 border-gray-100 text-sm text-gray-400 ml-1">
          <div class="col-span-3">Event Name</div>
          <div>Date</div>
          <div class="ml-3">Edit</div>
        </div>

        <!-- Task Items  -->
        <div class="divide-y divide-gray-600">
          {% for e in events %}
          <div class="grid grid-cols-5 p-1 md:p-4 lg:p-4 gap-4 items-center">
            <!-- Task Items R1 -->
            <div class="col-span-3">
              <span>{{e.name}}</span>
            </div>
            <div>
              <span class="text-gray-400 -ml-2">{{ e.date|date:"d F Y" }}</span>
            </div>
            <div>
              {% if current_user.is_admin %}
              <div class="flex gap-2">
                <a class="text-green-500" href="{% url 'event_edit' e.id %}">Edit</a>
                <span>|</span>
                <a class="text-red-500" href="{% url 'event_delete' e.id %}">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
          {% empty %}
          <div class="p-4 text-center text-gray-500">No events found.</div>
          {% endfor %}
        </div>
      </div>
    </main>
{% endblock main %}
