{% extends "template_page.html" %}
{% load static %}

{% block title %}Sign in{% endblock title %}

{% block main %}
<main class="container max-w-[1400px] mx-auto px-10 py-20">
  <div class="bg-slate-200 shadow-lg rounded-xl p-8 mt-14 max-w-md mx-auto">
    <!-- form Title -->
    <div class="text-3xl font-bold text-gray-900 mb-6 text-center">
      Sign In
    </div>

    <!-- sign in form -->
    <form method="POST" class="space-y-6">
      {% csrf_token %}
      <div>
        <label class="block text-sm font-medium text-gray-700">Email</label>
        <input class="p-1 mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-cyan-400 focus:ring focus:ring-cyan-300" type="email" name="email" placeholder="Enter your email" required/>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Password</label>
        <input class="p-1 mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-cyan-400 focus:ring focus:ring-cyan-300" type="password" name="password" placeholder="Enter your password" required />
      </div>

      <button type="submit" class="w-full px-6 py-3 bg-cyan-400 text-white rounded-lg hover:bg-cyan-500">
        Log In
      </button>
    </form>

    {% comment %} go sign up    {% endcomment %}
    <div class="mt-2 text-center">
      <span class="text-sm text-gray-600">Don't have an account?</span>
      <a href="{% url 'signup' %}" class="text-sm text-cyan-600 hover:underline">Sign Up</a>
    </div>
  </div>
</main>
{% endblock main %}
